In [1]:
from pandas import read_csv
from os import getcwd
from numpy import average, var, std

NUM_PARTICIPANTS = 24

In [2]:
##########################################################################################
def get_demo_data():
    
    demo_form_dir = getcwd() + "\demo_form_raw.csv"
    demo_df = read_csv(demo_form_dir)
    num_cols = demo_df.shape[1]
    demo_df = demo_df.iloc[2:, 17:num_cols].reset_index(drop=True)
    
    print("\n Finished reading raw demo form csv file! \n")
    
    return demo_df

##############################
demo_df = get_demo_data()
demo_df

 Finished reading raw demo form csv file!

    Q1 Q2 Q2_3_TEXT  Q3 Q4 Q5_1 Q5_2 Q5_3
0    1  1       NaN  24  1    5    2    3
1    2  2       NaN  21  1    4    7    1
2    3  1       NaN  24  1    5    5    1
3    4  2       NaN  27  1    6    6    2
4    5  2       NaN  20  1    5    7    3
5    6  2       NaN  21  1    7    3    6
6    7  2       NaN  25  1    4    5    1
7    8  1       NaN  19  1    3    1    6
8    9  1       NaN  24  1    5    4    2
9   10  1       NaN  23  1    5    7    4
10  11  2       NaN  25  1    6    5    2
11  12  1       NaN  25  1    4    1    7
12  13  1       NaN  24  1    6    1    1
13  14  1       NaN  22  1    6    6    6
14  15  1       NaN  23  3    7    7    7
15  16  2       NaN  37  1    6    6    4
16  17  1       NaN  19  1    5    6    1
17  18  1       NaN  18  1    7    4    4
18  19  1       NaN  20  1    5    1    5
19  20  1       NaN  23  1    6    1    1
20  21  1       NaN  30  1    5    5    3
21  22  2       NaN  23  1    6    3    6
22  23  1       NaN  23  1    3    2    4
23  24  2       NaN  23  1    7    1    1

In [3]:
# gender
gender_list = demo_df['Q2'].apply(lambda x: int(x)).tolist()
female_count = gender_list.count(1)
male_count = gender_list.count(2)
female_per = female_count / NUM_PARTICIPANTS * 100
male_per = male_count / NUM_PARTICIPANTS * 100
print("Female = %d (%.1f%%), Male = %d (%.1f%%), Total = %d participants" % (female_count, female_per, male_count, male_per, NUM_PARTICIPANTS))

Female = 15 (62.5%), Male = 9 (37.5%), Total = 24 participants

In [4]:
# age
age_list = demo_df['Q3'].apply(lambda x: int(x)).tolist()
age_mean = average(age_list)
age_var = var(age_list)
age_std = std(age_list)
print("Average age = %.1f, Stdev = %.1f" % (age_mean, age_std))

Average age = 23.5, Stdev = 3.9

In [5]:
# handed-ness
handed_list = demo_df['Q4'].apply(lambda x: int(x)).tolist()
right_handed_count = handed_list.count(1)
left_handed_count = handed_list.count(2)
both_count = handed_list.count(3)
print("Right-handed = %d, Left-handed = %d, Either = %d" % (right_handed_count, left_handed_count, both_count))

Right-handed = 23, Left-handed = 0, Either = 1