In [23]:
from pandas import read_csv
from os import getcwd
from numpy import average, var, std

NUM_PARTICIPANTS = 8

In [24]:
##########################################################################################
def get_demo_data():
    
    demo_form_dir = getcwd() + "\demo_form_raw.csv"
    demo_df = read_csv(demo_form_dir)
    num_cols = demo_df.shape[1]
    demo_df = demo_df.iloc[2:, 17:num_cols].reset_index(drop=True)
    
    print("\n Finished reading raw demo form csv file! \n")
    
    return demo_df

##############################
demo_df = get_demo_data()
demo_df

 Finished reading raw demo form csv file!

  Q1 Q2 Q2_3_TEXT  Q3 Q4 Q5_1 Q5_2 Q5_3
0  1  1       NaN  24  1    5    2    3
1  2  2       NaN  21  1    4    7    1
2  3  1       NaN  24  1    5    5    1
3  4  2       NaN  27  1    6    6    2
4  5  2       NaN  20  1    5    7    3
5  6  2       NaN  21  1    7    3    6
6  7  2       NaN  25  1    4    5    1
7  8  1       NaN  19  1    3    1    6

In [25]:
# gender
gender_list = demo_df['Q2'].apply(lambda x: int(x)).tolist()
female_count = gender_list.count(1)
male_count = gender_list.count(2)
female_per = female_count / NUM_PARTICIPANTS * 100
male_per = male_count / NUM_PARTICIPANTS * 100
print("Female = %d (%.1f%%), Male = %d (%.1f%%), Total = %d participants" % (female_count, female_per, male_count, male_per, NUM_PARTICIPANTS))

Female = 3 (37.5%), Male = 5 (62.5%), Total = 8 participants

In [27]:
# age
age_list = demo_df['Q3'].apply(lambda x: int(x)).tolist()
age_mean = average(age_list)
age_var = var(age_list)
age_std = std(age_list)
print("Average age = %.1f, Stdev = %.1f" % (age_mean, age_std))

Average age = 22.6, Stdev = 2.6

In [29]:
# handed-ness
handed_list = demo_df['Q4'].apply(lambda x: int(x)).tolist()
right_handed_count = handed_list.count(1)
left_handed_count = handed_list.count(2)
both_count = handed_list.count(3)
print("Right-handed = %d, Left-handed = %d, Either = %d" % (right_handed_count, left_handed_count, both_count))

Right-handed = 8, Left-handed = 0, Either = 0